.sidenav {
  width: 100%;
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 60px; */
  /* left: 10px; */
  background: #eee;
  /* overflow-x: hidden; */
  /* padding: 8px 0; */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  /* margin-left: 140px; Same width as the sidebar + left position in px */
  /* font-size: 28px; Increased text to enable scrolling */
  /* padding: 0px 10px; */
}


a {
  color: #45a049;
}
a:hover {
  color: #208625;
}
.fa-heart {
  color: rgb(233, 221, 221);
  font-size: 85px;
}
.red-heart {
  color: red;
}
.heart-button {
  background: rgb(254, 255, 254);
}
h5 {
  padding-left:10px;
}
.material-icons {
  font-size: 77px;
  color: #476e9e;
}
.results-list {
  list-style-type: none;
  margin-top: 50px;
}

.result-item {
  margin-bottom: 20px;
}

.result-img {
  display: inline-block;
  padding: 5px;
  border: 1px solid #CCC;
  margin-right: 20px;
  vertical-align: top;
}

.result-description {
  display: inline-block;
  width: 300px;
}

.hidden {
  display: none;
}

.validation-error {
  color: red;
}

.db-error {
  color: red;
  font-size: 2rem;
}

.header {
  background-color: #45a049;
}
.header h1 {
  color: white;

}
.resources h2 {
  text-align: center;
}

.btn {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1rem;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.btn:active {
  position:relative;
  top:1px;
}

.main-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

/* form  */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-form{
  padding-top: 2px;
}
input[type=search] {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  width: 73%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit]:hover {
  background-color: rgb(206, 63, 63);

}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

button[type=search] {
  width: 27%;
  background: #2196F3;
  color: white;
  font-size: 17px;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}