.fa-home.home-icon {
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: greenyellow;
  background: white;
  border-radius: 6px;
  text-decoration: none;
}

.nav-item.navItem :hover {
  color: #fff;
}

.link {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.nav-item.navItem {
  padding-top: 1em;
  padding-left: 0.8em;
}
.navbar-toggler {
  background: white;
}
a.titles {
  color: #45a049;
}
a.titles:hover {
  color: #208625;
}
.fa-heart {
  color: rgb(233, 221, 221);
  font-size: 85px;
}
.red-heart {
  color: red;
}
.heart-button {
  background: rgb(254, 255, 254);
}
h5 {
  padding-left: 10px;
}
.material-icons {
  font-size: 77px;
  color: #476e9e;
}
.results-list {
  list-style-type: none;
  margin-top: 50px;
}

.result-item {
  margin-bottom: 20px;
}

.result-img {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 20px;
  vertical-align: top;
}

.result-description {
  display: inline-block;
  width: 300px;
}

.hidden {
  display: none;
}

.validation-error {
  color: red;
}

.db-error {
  color: red;
  font-size: 2rem;
}

.header {
  background-color: #45a049;
}

.nav-container {
  width: 100%;
  display: flex;
}

.nav-container .nav-items {
  width: 100%;
  margin-bottom: 0;
}
.nav-container .logo {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.nav-items .collapse {
  padding-left: 0;
}

.dropdown-container {
  padding-top: 1em;
  padding-left: 0.8em;
}

h2.navbarBrand {
  color: white;
  padding-top: 0px;
}
.resources h2 {
  text-align: center;
}
.main-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.category-label {
  font-weight: bold;
  margin-right: 0.2rem;
}

.category-link {
  margin-right: 0.4rem;
}

.dropdown a.dropdown-button {
  color: #fff;
  cursor: pointer;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown a.dropdown-button:hover {
  color: #fff;
  text-decoration: underline;
}

.dropdown-container .dropdown-menu {
  background-color: #45a049;
}

.dropdown-menu .nav-item.navItem {
  padding-top: 0;
  padding-left: 0;
}

.dropdown-menu .dropdown-item {
  background-color: transparent;
}
/* form  */

input[type="text"],
select,
.descriptionText {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  background-color: #2196f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-form {
  padding-top: 2px;
  margin-left: -17px;
}
input[type="search"] {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: blue;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.modalBtn {
  padding: 5px;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #fff !important ;
  height: 40px;
}

.modal-dialog {
  margin-top: 17% !important;
}

.modal-backdrop.fade {
  opacity: 0.6 !important;
}
.dropdownFilter {
  min-width: 15%;
  margin: auto;
  float: right;
}
.search {
  position: relative;
}
.search input {
  text-indent: 40px;
}
.search .fa-search {
  position: absolute;
  top: 24px;
  left: 18px;
  font-size: 19px;
}

/* Responsive*/
@media screen and (max-width: 820px) {
  .nav-item.navItem {
    padding-left: 0.3em;
  }

  .dropdown-container {
    padding-left: 0.3em;
  }

  .nav-container .collapse {
    text-align: center;
  }

  .nav-container .collapse .navbar-nav {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-right: 1px;
    padding-left: 1px;
  }
  .main-wrapper {
    min-width: 100%;
  }
  .modal-dialog {
    margin-top: 130px !important;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
